<div class="container">
    <h2>{{title}}</h2>
    <div class="message success" *ngIf="status=='success'">
        El proyecto se ha creado correctamente puedes verlo
        <a routerLink="/artist/listArtwork"> aquí</a>.
    </div>
    <div class="message success" *ngIf="status=='failed'">
        El proyecto no se ha podido crear
    </div>
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>
            <span class="form_error" *ngIf="name.touched && !name.valid">
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label for="description">Descripción</label>
            <input type="text" name="description" #description="ngModel" [(ngModel)]="project.description" required/>
            <span class="form_error" *ngIf="description.touched && !description.valid">
                La descripción es obligatoria
            </span>
        </p>
        <p>
            <label for="username">username</label>
            <input type="text" name="username" #username="ngModel" [value]="project.username" [(ngModel)]="project.username" disabled/>
            <span class="form_error" *ngIf="username.touched && !username.valid">
                La username es obligatoria
            </span>
        </p>
        <p>
            <label for="year">Año de lanzamiento</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year"/>
        </p>
        <p>
            <label for="id_artist">Id del Artista</label>
            <input type="text" [value]="project.id_artist" name="id_artist"  #id_artist="ngModel" [(ngModel)]="project.id_artist" disabled/>
            <span class="form_error" *ngIf="id_artist.touched && !id_artist.valid">
                Los id son obligatorios
            </span>
        </p>
        <p>
            <label for="image">Imagen del proyecto</label>
            <!--evento que permite capturar los cambios en un input-->
            <span class="image" *ngIf="project.image" style="float:none;">
                <img src="{{url+'get-image/'+project.image}}" style="width: 100px;"/>
            </span><br/>
            <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)"/>
        </p>
        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid"/>
    </form>
</div>
