<h1> Videos </h1>
<div *ngIf="artists">

  <div *ngFor="let artist of artists; index as in;" class="center" style="border: 2px solid green;">
      <hr>
      <h1> Artista </h1>
      <h2>{{artist.username}}</h2>



      <div *ngIf="artist.videos.length > 0">
        <h2> Videos del artista </h2>
        <div  style="border: 2px solid black;">
          <div *ngFor="let video of artist.videos; index as i">
              <br/>
              <h3>Título: {{video.name}}</h3>

              <iframe width="560" height="315" [src]="videosUrl[in][i]" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

      </div>
      <div *ngIf="artist.videos.length == 0">
        <h2> Este artista no tiene videos </h2>
      </div>




  </div>
</div>
<div *ngIf="!artists" class="center">>
  Cargando...
</div>
