<div class="box-left center" *ngFor="let exhibition of exhibiciones">
    <h2>{{exhibition.name}}</h2>
    <h3>Fecha: {{exhibition.date}}</h3>
    <h4>Descripción: {{exhibition.description}}</h4>
    <img class="image-exhibition center"
    src="{{exhibition.url_principal_img}}" alt=""
    />
    <br/>
</div>

<div class="center">
    <h1>
        <mat-label>Exhibiciones</mat-label>
    </h1>
    <a routerLink="../../artist" class="btn btn-secondary btn-sm">
        <i >Regsitrso</i>
    </a>
    <br>
    <a routerLink="../../artist/listArtwork" class="btn btn-secondary btn-sm">
        <i >Listar</i>
    </a>
    <br>
    <a routerLink="../../artist/editArtwork" class="btn btn-secondary btn-sm">
        <i >Editar</i>
    </a>
</div>  