.image-exhibition {
  height: 50%;
  width: auto;
}



.box-left {
  width: 16%;
  height: 100px;
  float:left;
  padding: 2%;
  overflow: hidden;
}

.box-right {
  width: 76%;
  height: 100px;
  float:left;
  padding: 2%;
  overflow: hidden;

}
