.active, .dot:hover {
  background-color: #9fc4a5;
}


.div-centered {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}


.centro {
  display: block;
  margin: auto;
  text-align: center;

}

nav {
  background-color: #cbd1cc;
}

nav > a {
  color: black;
}

nav > div > ul > li > a {
  color: black
}

.div-right {
  margin-left: auto;
  margin-right: 0;
}
