
<form [formGroup]="formGroup" (ngSubmit)="authAndRetrieveAdmin($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Login </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Ingrese el nombre de usuario" formControlName="username" matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Ingrese la contraseña" formControlName="password" matInput type="password">
          </mat-form-field>
        </div>
      </div>


    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="formGroup.invalid" mat-raised-button type="submit"> Ingresar </button>
    </mat-card-actions>
  </mat-card>
  <br><br>



</form>
